<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>Blog posts</h2>
<%= @posts.inspect %>
<h2>Skills</h2>
<%= @skills.inspect %>
<h2>Random stuff</h2>
<% @ary.each do |n| %>
  <%= n %>
<% end %>
<h2>More random stuff</h2>
<%= @first %>

